augmenty==1.3.1
dacy==2.3.2
pandas==1.5.3
spacy==3.4.4
protobuf==3.20.3
flair==0.5.1
danlp==0.1.2
torch==1.13.1
gensim==3.8.1
da-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/da_core_news_lg-3.4.0/da_core_news_lg-3.4.0-py3-none-any.whl
da-core-news-md @ https://github.com/explosion/spacy-models/releases/download/da_core_news_md-3.4.0/da_core_news_md-3.4.0-py3-none-any.whl
da-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/da_core_news_sm-3.4.0/da_core_news_sm-3.4.0-py3-none-any.whl
NERDA==1.0.0
nltk==3.8.1